/*------------------ css reset -------------------------*/

* {
    margin: 0;
    font-size: 100%;
}

body {
    max-width: 100%;
    margin: auto;
    line-height: 1.5em;
    background-color: white;
    font-size: 1em;
    /*-- font-family: 'raleway', sans-serif; --*/
    font-family: "acier-bat-noir", sans-serif;
    color: black;
    overflow-x: hidden;
}


/*------- nav ---------------------------
nav {
    margin: auto;
    max-width: 50%;
    
}
nav ul {
    text-align: center;
    font-size: 1em;
    letter-spacing: .5px;
    margin: auto;
    float: right
}

nav ul li {
    display: inline;
}

nav a {
    color: black;
    text-decoration: none;
   font-family: "acier-bat-noir",sans-serif;
}

.nav {
    font-size: 1.35em;
          
}
------*/


/*-------- right nav
.right-nav {
    float: right;
    padding-right: 1em;
    font-size: 1.35em;
    
}

.right-nav: hover {
    color: lightgrey;
  
        
}
-----------*/


/*-----------------title-------*/

.titleimage img {
    max-width: 50%;
    margin-left: 2em;
}


/*------------------ nav buttons -------------*/

.navbutton img {
    float: right;
    margin-top: -30%;
    margin-right: 15%;
    max-width: 50%;
}

.navbutton img:hover {
    transform: scale(1.25, 1.25);
    transition: .3s;
    z-index: 1;
}

.navbutton2 img {
    float: right;
    margin-top: -20%;
    margin-right: 15%;
    max-width: 50%;
}

.navbutton2 img:hover {
    transform: scale(1.25, 1.25);
    transition: .3s;
    z-index: 1;
}

a:hover {
    color: lightgray;
}

.title {
    width: 100%;
    line-height: 1em;
    margin: auto;
    font-size: 1em;
    padding-bottom: 5em;
    ;
}


/*------------------ paragraphs --------*/

p {
    line-height: 1.65em;
    letter-spacing: .01em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: 2em;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: normal;
    color: #123858;
    margin: 2em;
    
}


/*--------- quiz style ------------*/


/*------ quiz intro ---------*/

.intro {
    font-size: 1.25em;
    font-family: "acier-bat-solid", sans-serif;
}

.quiz h2 {
    font-size: 3em;
    text-align: center;
    margin:auto;
    color: #123858;
}


/*-------- quiz -------*/

.icon img {
    max-width: 300px;
    padding-bottom: 3em;
    margin-left: 40%; 
    text-align: center;
}

.bowieicon img {
    max-width: 15em;
    padding-bottom: 3em;
    margin-left: 40%;
}

.mileyicon img {
    max-width: 15em;
    padding-bottom: 3em;
    margin-left: 40%;
}

.amyicon img {
    max-width: 15em;
    padding-bottom: 3em;
    margin-left: 40%;
    
}
.question {
    text-align: center;
    font-size: 1.5em;
    font-family: "acier-bat-solid", sans-serif;
}

.answers  {
    list-style: upper-alpha;
    text-align: left;
    margin-left: 40%;
    font-size: 1.5em;
}
.answers img {
    padding-left: 2.5em;
}

.answers img:hover {
    transform: scale(1.25, 1.25);
    transition: .3s;
    z-index: 1;
}
label {
    margin-left: 0.5em;
    cursor: pointer;
    text-align: center;
    font-family: "acier-bat-solid", sans-serif;
    
}

#results {
    padding: 3px;
    text-align: center;
    cursor: pointer;
    font-family: "acier-bat-solid", sans-serif;
}

#categorylist {
    margin-top: 6px;
    display: none;
}

#category1,
#category2,
#category3,
#category4,
#category5,
#category6,
#category7,
#category8,
#category9,
#category10,
#category11 {
    display: none;
    font-family: "acier-bat-noir", sans-serif;
    
}

#closing {
    display: none;
    font-style: italic;
}

.totopbutton img {
    align-content: center;
    margin-left: 45%;
    padding-bottom: 3em;
    padding-top: 1em;
    
}
.totopbutton img:hover {
    transform: scale(1.25, 1.25);
    transition: .3s;
    z-index: 1;
}